PORT=8080
ENV=local
AWS_REGION=ap-southeast-1
DYNAMODB_ENDPOINT=http://localhost:8000
DYNAMODB_TABLE_NAME=mini_hrm_table
COGNITO_USER_POOL_ID=local_user_pool
COGNITO_APP_CLIENT_ID=local_app_client
COGNITO_ENDPOINT=http://localhost:9229
JWT_SECRET=super_secret_local_minihrm_key_32bytes
